* {
    box-sizing: border-box;
}


.set1 {
    width: 450px;
    height: 450px;
   /* background-color:#4252AF; */
   background-color: white;
   margin-left: 25px;
}

.legend {
    padding-top: 25px;
    margin-right: 48px;
}

.legend2 {
    padding-top: 25px;
  
}
/*
.button {
   position: absolute;
   padding-top: 300px;
   margin-right: 200px;
}
*/

#headline {
  width: 30%;
  height: 20%;
  margin-right: 50px;

 
}

#param {
    position: absolute;
    margin-top: 380px;
    margin-left: 65px;
}

.one {
    width: 75px;
    height: 25px;
    margin-right: 50px;
}