* {
    box-sizing: border-box;
}

h2 {
text-align: left;
margin-left: 250px;
    
}

.containers {
padding-left: 350px;
}

#Add-headline {
    margin-top: 50px;
    margin-Bottom: 100px; 
  }

.values {
    text-align: left;
}

.wrapper {
    
    position: center;
 }
 #first {
     
 }
 #second {
     

 }

 .dividerSmall{
    width:5px;
    height:auto;
    display:inline-block;
}

 .divider{
    width:20px;
    height:auto;
    display:inline-block;
}

#center {
    font-weight: bold;
    margin-right: 518px;
}

.textD {
    margin-right: 300px;
    padding-left: 420px;
    text-align: left;
}