* {
    box-sizing: border-box;
}

h2 {
text-align: left;
margin-left: 250px;
    
}

.containers {
padding-left: 350px;
}

#Add-headline {
    margin-top: 50px;
    margin-Bottom: 100px; 
  }

.values {
    text-align: left;
}