
.label {
    margin-right: 5px;
}

.return {
padding-left: 20px;
}

.container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    border: 1.5px solid rgba(0, 0, 0, 0.200);
    margin-left: 35%;
    margin-right: 35%;
    /* background-color: #4252AF; */
}